@import 'tailwindcss';

@theme {
  --color-primary: #FF5C00;
  --color-secondary: #0057FF;
  --color-tertiary: #10B981;
  --color-neutral: #111827;
}


input {
  @apply rounded-lg px-5 outline-0
}

select {
  @apply bg-secondary/10 rounded-lg px-5 py-3 outline-0 appearance-none cursor-pointer
}

@layer components {
  .tile {
    @apply bg-gray-100 rounded-lg
  }
}

/* Hide scrollbar but keep scrolling */
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none; /* Firefox */
}