@import 'tailwindcss';

@theme {
  --color-primary: #FF5C00;
  --color-secondary: #0057FF;
  --color-tertiary: #10B981;
  --color-neutral: #111827;
}


body {
  max-width: 430px;
  margin: 0 auto;
}

@layer components {
  .button {
    @apply bg-primary rounded-sm flex justify-center items-center gap-2
  }
  .tile {
    @apply bg-gray-100 rounded-lg
  }
}

/* Hide scrollbar but keep scrolling */
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none; /* Firefox */
}